@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');
*{
    font-family:'poppins';
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.box-area{
    width: 930px;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 0vh;
    background-color: #961080;
    background-image: url('image/1174314_128988-ORZXLY-929.svg');
    background-size: 100%;

}


.row{

    border-radius: 15px;
    box-shadow: 0 2px 10px 0 rgb(90, 6, 168),0 4px 10px 0 rgb(90, 6, 168);
}
.left-box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 40%;
    min-width: 238px;
    padding: 0 10px;
    border-radius: 15px;
    box-shadow: 0 2px 10px 0 rgb(90, 6, 168),0 4px 10px 0 rgb(90, 6, 168);
    background-image: url('image/Dark\ Blue\ and\ Pink\ Futuristic\ Technology\ Background\ Instagram\ Story.png');
    background-size: 450px;
}
.form-control{
    width: 100%;
    height: 50px;
    background: #fcfdfd;
    margin: 10px 0;
    border: 2px solid #961080;
    border-radius: 50px;
    display: flex;
    align-items: center;
}
#btn1{
    width:100%;
    height: 50px;
    border:none;
    border-radius: 50px;
    background: #811970;
    color: #fffdff;
    font-weight: 600;
    margin: 10px 0;
    text-transform: uppercase;
    transition: width 2s;
}
#btn1:hover{
    background: #3B1E54;
}
#btn2{
    width:400px;
    height: 50px;
    border:none;
    border-radius: 50px;
    background: #9B7EBD;
    color: #fffdff;
    font-weight: 600;
    margin: 10px 0;
    text-transform: uppercase;
}
#btn2:hover{
    background: #3B1E54;
}
#btn3{
    width:100%;
    height: 50px;
    border:none;
    border-radius: 50px;
    background: #811970;
    color: #fffdff;
    font-weight: 600;
    margin: 10px 0;
    text-transform: uppercase;
}
#btn3:hover{
    background: #3B1E54;
}
#btn4{
    width:400px;
    height: 50px;
    border:none;
    border-radius: 50px;
    background: #9B7EBD;
    color: #fffdff;
    font-weight: 600;
    margin: 10px 0;
    text-transform: uppercase;
}
#btn4:hover{
    background: #3B1E54;
}
/*.form{
    display:inline-block;
    margin: 30px auto;
    align-content: center;
    width: 350px;
    height: 600px;
    box-shadow: #85c6c9;
    overflow:hidden;
    border: #4A628A;
    background-color: lightblue;
    border-radius: 20px;
    
}*/



#fname{
    color:  rgb(90, 6, 168);
}

#lname{
    color:  rgb(90, 6, 168);
}
#ilname{
    border-radius: 5px;
}
#email{
    color:  rgb(90, 6, 168);
}
#iemail{
    border-radius: 5px;
}
#pass{
    color: rgb(90, 6, 168);
}
#ipass{
    border-radius: 5px;
}
#confirmpass{
    color:  rgb(90, 6, 168);
}
#iconfirmpass{
    border-radius: 5px;
}
#radio{
    color: rgb(90, 6, 168);
}
#file{
    color: rgb(90, 6, 168);
}
#checkbox{
    
    color:  rgb(90, 6, 168);
}
#paragraph{
    color: #e030a6;
}
.form2{
    display:inline-block;
    margin: 30px auto;
    align-content: center;
    width: 350px;
    height: 600px;
    box-shadow: #85c2c5;
    overflow:hidden;
    border: #4A628A;
    background-color: rgb(210, 235, 243);
    border-radius: 20px;
}
.parent {
    width: 400px;
    height: 200px;
    margin: 40px auto;
    position: relative;
    align-content: center;
    transition: width 2s;
    transform: translate(50%, 50%);

  }
  .parent .child {
    width: 150px;
    height: 75px;
    position:absolute;
    left: -68%;
    top: 20%;
    margin-left: -75px;
    margin-top: -37.5px;
    align-content: center;
  }